.paypalOverlay {
  width: 227px;
  height: 216px;
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  .totalContainer {
    position: relative;
    .changeBtn {
      background: linear-gradient(
        157.81deg,
        #def9fa -43.27%,
        #bef3f5 -21.24%,
        #9dedf0 12.19%,
        #7de7eb 29.82%,
        #5ce1e6 51.94%,
        #33bbcf 90.29%
      );
      position: relative;
      &::before {
        content: "Change";
        width: 105%;
        height: 105%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
          157.81deg,
          #def9fa -43.27%,
          #bef3f5 -21.24%,
          #9dedf0 12.19%,
          #7de7eb 29.82%,
          #5ce1e6 51.94%,
          #33bbcf 90.29%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        z-index: 1;
      }
    }
  }
  .payBtn {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
}
